body{
    border: 1px solid black;
    margin-left: 10%;
    width: 80%;
}

.logo{
    font-family: fantasy;
    color: rgb(255, 197, 51)
}

.nav{
    text-decoration: ;
}
.recommend{
    width: ;
    text-align: center;
}